<body ng-app="dragDrop" ng-controller="DragDropController">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="h2">{{ message }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" ng-repeat="bin in [1, 2, 3]">
                <div id="bin{{ bin }}" class="bin" bin="bin" droppable drop="handleDrop">{{ bin }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" ng-repeat="item in [1, 2, 3]">
                <div id="item{{ item }}" class="item" draggable item="item">{{ item }}</div>
            </div>
        </div>
    </div>
</body>