{% extends 'base_layout.html' %}

{% block content %}

<div class="space"></div>

{%for movie in movies %}

<div class="h-50 d-inline-block" style="width: 950px; background-color: rgba(0,0,255,.1)">
    <div class="list-group">

            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"> TITLE: {{ movie.movie_title }}</h5>
                <small class="text-muted"> ID {{ movie.movie_id }}</small>
            </div>
            <p class="mb-1">{{ movie.movie_genres }}</p>
            <small class="text-muted">TMDB {{ movie.movie_id_tmdb}}</small>

    </div>
</div>

{%endfor %}




{% endblock %}


{% block navbar %}



{% endblock %}