{% extends 'base_layout.html' %}
{% block content %}
<style>
.checked {
    color: orange;
}
</style>
<script>
  // https://bootsnipp.com/snippets/dlaaN
  function add_star(ths,sno,movie_id){
    for (var i=1;i<=6;i++){
      var cur=document.getElementById("star"+i+"-"+movie_id)
      cur.className="fa fa-star"
    }
    for (var i=1;i<=sno;i++){
      var cur=document.getElementById("star"+i+"-"+movie_id)
      if(cur.className=="fa fa-star")
      {
        // mark stars as checked and notseen as not checked
        cur.className="fa fa-star checked"
        document.getElementById("notseen-"+movie_id).className="fa fa-close"
      }
    }
  }
  function add_notseen(ths,movie_id){
    var cur=document.getElementById("notseen-"+movie_id)
    if(cur.className=="fa fa-close")
    {
      // mark stars as not checked and notseen as checked
      cur.className="fa fa-close checked"
      document.getElementById("star"+1+"-"+movie_id).className="fa fa-star"
      document.getElementById("star"+2+"-"+movie_id).className="fa fa-star"
      document.getElementById("star"+3+"-"+movie_id).className="fa fa-star"
      document.getElementById("star"+4+"-"+movie_id).className="fa fa-star"
      document.getElementById("star"+5+"-"+movie_id).className="fa fa-star"
      document.getElementById("star"+6+"-"+movie_id).className="fa fa-star"
    }
  }
  // parses current document and gets an array of
  // currently rendered movies ids
  // (returns array of integers)
  function get_movie_ids(ths) {
    var movie_notseen_elements = $('*[id^="notseen-"]');
    var movie_ids = new Array();
    for (var i=0; i<movie_notseen_elements.length; i++) {
      // e.g. notseen-25
      var css_identifier = movie_notseen_elements[i].id
      var movie_id = css_identifier.split('-')[1]
      movie_ids.push(movie_id)
    }
    return movie_ids
  }
function save_ratings(ths){
  movie_ids = get_movie_ids()
  // this gets the content of the <p>
  user_id = document.getElementById("user-id").innerHTML
  for (var i=0; i<movie_ids.length; i++) {
    // for each movie
    movie_id = movie_ids[i]
    rating = 0
    if (document.getElementById("notseen-"+movie_id).className.includes("checked")) {
      rating = -1
    } else if (document.getElementById("star"+6+"-"+movie_id).className.includes("checked")) {
      rating = 6
    } else if (document.getElementById("star"+5+"-"+movie_id).className.includes("checked")) {
      rating = 5
    } else if (document.getElementById("star"+4+"-"+movie_id).className.includes("checked")) {
      rating = 4
    } else if (document.getElementById("star"+3+"-"+movie_id).className.includes("checked")) {
      rating = 3
    } else if (document.getElementById("star"+2+"-"+movie_id).className.includes("checked")) {
      rating = 2
    } else if (document.getElementById("star"+1+"-"+movie_id).className.includes("checked")) {
      rating = 1
    }
    alert('movie id: ' + movie_ids[i] + ' rating: '+ rating + ' user id: ' + user_id);
  }
}

</script>

<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
</script>
<p style="font-size: 0.8em;">You are filling the poll as: {{ request.session.user_name }}</p>
<p id="user-id">TODO: make it hidden and show only user id<p>
<p style="font-size: 0.8em;">Your progress: {{ request.session.movies_rated }}/200</p>
<h2 style="text-align: center;">Movies of category: {{ category }}</h2>
<br>

 <div class="row">
 {% for movie in movies %}
  <div class="col-sm">
    <div class="card" style="width: 400px">
        <div class="card-header movie-title"><h3>{{ movie.movie_title}}</h3></div>
     <div class="card-body">
         <div class="row">
          <div class="col-sm">
            <p style="font-size: 0.9em; font-weight: bold;">Released:</p>
            <p style="font-size: 0.9em">{{ movie.release_date }}</p>
            <a style="font-size: 0.9em; font-weight: bold;" href="#" data-toggle="popover" title="Movie description" data-content="{{ movie.overview }}">Click for description</a>
          </div>
           <div class="col-sm">
            <img src="/media{{ movie.poster_path}}" style="max-width: 150px;"/>
           </div>
           </div>
          <br>
          <span class="fa fa-star" id="star1-{{movie.movie_id}}" onclick="add_star(this,1,{{movie.movie_id}})"></span>
          <span class="fa fa-star" id="star2-{{movie.movie_id}}" onclick="add_star(this,2,{{movie.movie_id}})"></span>
          <span class="fa fa-star" id="star3-{{movie.movie_id}}" onclick="add_star(this,3,{{movie.movie_id}})"></span>
          <span class="fa fa-star" id="star4-{{movie.movie_id}}" onclick="add_star(this,4,{{movie.movie_id}})"></span>
          <span class="fa fa-star" id="star5-{{movie.movie_id}}" onclick="add_star(this,5,{{movie.movie_id}})"></span>
          <span class="fa fa-star" id="star6-{{movie.movie_id}}" onclick="add_star(this,6,{{movie.movie_id}})"></span>
          <span class="fa fa-close" id="notseen-{{movie.movie_id}}" style="float: right" onclick="add_notseen(this,{{movie.movie_id}})"></span>
        </div>
    </div>
     </div>
  {% endfor %}
 </div>

<div class="row">
	  <div class="col-sm-12">
            <a href="{% url 'movie:collect_ratings' %}" class="btn btn-primary btn-lg active pull-right" role="button" aria-pressed="true" >Next page</a>
      <button name="button-name" value="fav_HTML" class="btn btn-primary btn-lg active pull-right" role="button" onclick="save_ratings()">Show</button>
      </div>
</div>
{% endblock %}
