{% extends 'base_layout.html' %}
{% block content %}

<p>You are filling the survey as: {{ request.session.user_name }}</p>
<p>Movies category: {{ category }}</p>
 {% for movie in movies %}

<div class="row">
    <div class="col-sm-12">
        The title:{{ movie.movie_title}}.
        Description:{{ movie.overview }}.
        Movie release_date{{ movie.release_date }}.
        Average vote:{{ movie.vote_average }}.
    </div>
</div>

<div class="row">
<form>
	  <div class="col-sm-12">
          <form>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">1</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">2</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
              <label class="form-check-label" for="inlineRadio3">3</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
              <label class="form-check-label" for="inlineRadio4">4</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
              <label class="form-check-label" for="inlineRadio5">5</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioNotSeen" value="optionNotSeen">
              <label class="form-check-label" for="inlineRadioNotSeen">Not seen</label>
            </div>
          </form>
    </div>
</form>
</div>
         -------------------------------------------------------------------
{% endfor %}
<div class="row">
	  <div class="col-sm-12">
            <a href="{% url 'movie:collect_ratings' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Next page</a>
      </div>
</div>
{% endblock %}
