{% extends 'base_layout.html' %}
{% block content %}

<style>
.checked {
    color: orange;
}
</style>

<h2>Star Rating</h2>
<span class="fa fa-star" id="star1-25" onclick="add_star(this,1,25)"></span>
<span class="fa fa-star" id="star2-25" onclick="add_star(this,2,25)"></span>
<span class="fa fa-star" id="star3-25" onclick="add_star(this,3,25)"></span>
<span class="fa fa-star" id="star4-25" onclick="add_star(this,4,25)"></span>
<span class="fa fa-star" id="star5-25" onclick="add_star(this,5,25)"></span>
<span class="fa fa-star" id="star6-25" onclick="add_star(this,6,25)"></span>
<span class="fa fa-close" id="notseen-25" style="float: right" onclick="add_notseen(this,25)"></span>
<script>
  // https://bootsnipp.com/snippets/dlaaN
  function add_star(ths,sno,movie_id){
    for (var i=1;i<=6;i++){
      var cur=document.getElementById("star"+i+"-"+movie_id)
      cur.className="fa fa-star"
    }
    for (var i=1;i<=sno;i++){
      var cur=document.getElementById("star"+i+"-"+movie_id)
      if(cur.className=="fa fa-star")
      {
        // mark stars as checked and notseen as not checked
        cur.className="fa fa-star checked"
        document.getElementById("notseen-"+movie_id).className="fa fa-close"
      }
    }
  }
  function add_notseen(ths,movie_id){
    var cur=document.getElementById("notseen-"+movie_id)
    if(cur.className=="fa fa-close")
    {
      // mark stars as not checked and notseen as checked
      cur.className="fa fa-close checked"
      document.getElementById("star"+1+"-"+movie_id).className="fa fa-star"
      document.getElementById("star"+2+"-"+movie_id).className="fa fa-star"
      document.getElementById("star"+3+"-"+movie_id).className="fa fa-star"
      document.getElementById("star"+4+"-"+movie_id).className="fa fa-star"
      document.getElementById("star"+5+"-"+movie_id).className="fa fa-star"
      document.getElementById("star"+6+"-"+movie_id).className="fa fa-star"
    }
  }
</script>
{% endblock %}
