{% extends 'base_layout.html' %}


{% block content %}

<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Create user</div>
                        <div class="card-body">
                            <form name="my-form" onsubmit="return validform()" action={% url 'user:name' %} method="post">

                                {% csrf_token %}
                                {% for field in form %}

                                {% if field.name == 'user_name' %}
                                <div class="form-group row">
                                    <label for="user_name" class="col-md-4 col-form-label text-md-right">Username</label>
                                    <div class="col-md-6">
                                        <input type="text" id="user_name" class="form-control" name="user_name">
                                    </div>
                                </div>
                                {% endif %}


                                {% endfor %}


                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                        Create
                                        </button>
                                    </div>

                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}