{% extends 'base_layout.html' %}


{% block content %}
<div class="jumbotron text-center container">
  <h1>Hello!</h1>
  <p>Welcome to our poll about movies. We are so happy you are here!</p>
  <p>Please enter your username and press Submit to get started.</p>
    <h4>Witaj!</h4>
  <p>Witamy w naszej ankiecie na temat filmów. Cieszymy się, że tu jesteś!</p>
  <p>Wprowadź swoją nazwę użytkownika i naciśnij Create, aby rozpocząć.</p>
<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Create user</div>
                        <div class="card-body">
                          <form action="." method="post">
                          {% csrf_token %}
                          <div class="form-group text-left">
                            <input id="user_name" type="text" name="user_name" type="user_name" class="form-control" aria-describedby="usernameHelp" placeholder="Enter username">
                          </div>
                          <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>
</div>
{% endblock %}
